#sticky-nav {
    /* border:1px solid black; */
    opacity: 0.7;
    position:sticky;
    top:0;
    align-self:flex-start;
    height:auto;
}

#secondary-nav {
    position:sticky;
    height:3rem;
}

#secondary-nav a {
    font-size:.75rem;
    font-weight:600;
}