
nav {
    display:flex;
    padding:20px;
    border-bottom: 1px solid lightgray;
}

.nav-main-image {
   width:3.75em;
   height:1.75em;
   display:block;
}

.nav-list {
    display:flex;
    width:50%;
    justify-content: center;
    align-items:center;
}

.nav-list li {
    margin-left:20px;
    font-weight: 1000;
}

.nav-list button {
    font-size:1rem;
}

.trial-account {
    display:flex;
    justify-content: flex-end;
    flex-shrink: 0;
}