#primary-nav {
    border-bottom: 1px solid lightgray;
}

#primary-nav  * {
    font-size: 1rem;
    font-weight:500;
}

.more-button {
    color:var(--title-orange);
}

#trial-account {
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

#trial {
    color:var(--blue);
    font-weight: 600;
}