
#primary-nav {
    border-bottom: 1px solid lightgray;
}

.nav-main-svg {
   width:3.75em;
   height:1.75em;
}

.more {
    color:var(--title-orange);
    display:flex;
    align-items: center;
    gap:.2rem;
}

.more span {
    font-size:1.5rem;
}

#trial-account {
    display:flex;
    justify-content: flex-end;
    align-items:center;
}

#trial {
    color:var(--blue);
    font-size: 1rem;
    font-weight: 600;
}

#log-in {
    font-size:1rem;
    font-weight:500;
}