:root {
  --light-yellow:#fbffa7;
  --title-orange:#ff764d;
  --light-blue:#b1c5ff;
  --light-purple:#d5b3ff;
  --light-green:#b6ffc0;
  --blue:#0000ff;
  --nav-padding: 1rem 2.5rem 1rem 2.5rem
}

@media (max-width:600px) {
  main {
      padding:0;
  }
  
  .about-main-image {
      height:500px;
  }

  .text-section {
      width:100%;
  }

  .text-section p:first-child {
      font-size:1rem;
  }
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:Poppins;
}

nav {
  display:flex;
  padding:var(--nav-padding)
}

svg {
  flex-shrink:0;
}

a {
  all:unset;

  background: none;
  border:0px;
  cursor:pointer;
}

ul {
  list-style: none;
}

main {
  padding:0 8rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8rem;
  overflow-x:hidden;
  border-bottom:1px solid lightgray;
}

button {
  background-color: transparent;
  border:0;
  cursor:pointer;
}

.adjust-left {
  left:8rem;
}

.adjust-right {
  right:8rem;
}

.nav-list {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  width:50%;
  gap:2rem;
}
