:root {
  --light-yellow:#fbffa7;
  --title-orange:#ff764d;
  --light-blue:#b1c5ff;
  --light-purple:#d5b3ff;
  --light-green:#b6ffc0;
  --blue:#0000ff;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:poppins
}

nav {
  display:flex;
  padding:1rem 2.5rem 1rem 2.5rem;
}

a {
  background: none;
  border:0px;
  cursor:pointer;
}

ul {
  list-style: none;
}

.nav-list {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  width:50%;
  gap:2rem;
}

.nav-list a {
  font-size:1rem;
  font-weight:500;
}
