:root {
  --light-yellow:#fbffa7;
  --title-orange:#ff764d;
  --light-blue:#b1c5ff;
  --light-purple:#d5b3ff;
  --light-green:#b6ffc0;
  --blue:#0000ff;
}

* {
  box-sizing: border-box;
  padding:0;
  margin:0;
  font-family:poppins
}

nav {
  display:flex;
  padding:1rem 2.5rem 1rem 2.5rem;
}

a {
  background: none;
  border:0px;
  cursor:pointer;
}

ul {
  list-style: none;
}

main {
  padding:0 8rem 8rem 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:8rem;
  /* overflow:hidden; */
  border-bottom:1px solid lightgray;
}

button {
  background-color: transparent;
  border:0;
}

.adjust-left {
  left:8rem;
}

.adjust-right {
  right:6rem;
}

.nav-list {
  display:flex;
  justify-content: flex-start;
  align-items:center;
  width:50%;
  gap:2rem;
}
